@import '~css/variables'

// Wrapper styles
.app-wrapper
  text-align center

// Navigation menu styles
.app-nav
  text-align right
  margin-top 30px
  font-size 1.3em

.app-nav li
  display inline-block
  box-sizing border-box
  margin-right 50px
  letter-spacing -1px

.app-nav__item
  color $orange-flame-pea

// Header styles
.app-header
  margin-bottom 30px

.app-title
  font-size 2em
  font-weight 900
  color $orange-flame-pea

.app-tagline
  color $gray-gray
  margin-top 10px

.app-tagline__tp
  font-size .9em

.app-footer
  color $gray-gray
  margin-top 50px
