@import '~css/variables'

.item
  a
    display block
    background-color $white
    color #333
    height 300px
    overflow hidden
    box-shadow 0 0 4px 0 #CCCCCC
  width 33.33%
  padding 10px
  box-sizing border-box


.thumbnail
  width 100%
  height 140px
  background-size cover
  background-repeat no-repeat
  background-position 50%

.infos
  padding 20px 16px
  text-align center


.infos-name
  font-size 1.2em
  font-weight 700
  line-height 1.4em
  color $orange-flame-pea

.votes-count
  display block
  margin-top 10px
  font-size .8em
  opacity .8

.tagline
  margin-top 20px
  line-height 1.4em

.item-router-link
  width 100%
  height 0px
