@import '~css/variables'

.single-post-wrapper
  text-align center

.single-post-container
  width 600px
  display block
  background-color $white
  color #333
  height 580px
  overflow hidden
  box-shadow 0 0 4px 0 #CCCCCC
  margin auto
  padding 30px
  margin-bottom 30px

.single-post-container__thumbnail
  width 100%
  height 400px
  background-size cover
  background-repeat no-repeat
  background-position 50%
  margin-bottom 50px


.single-post-container__name
  font-size 1.4em
  font-weight 700
  line-height 1.4em
  color $orange-flame-pea
  margin-top 20px

.single-post-container__votes
  display block
  margin-top 10px
  opacity .8

.single-post-container__tag
  margin-top 50px
  line-height 1.4em
